<h1>Editing Book</h1>

<form action="<%= book_path(@book) %>" method="post">
  <%= render 'form', book: @book %>
  <input type="hidden" name="_method" value="patch">
</form>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
